{% extends "portfolio/base_project.html" %}{% load static %}{% block content %}
<center>
  <h2 style="color: white;">
    My {{projects.count}} Award{{projects.count|pluralize}}
  </h2>
</center>
<hr />
<div class="row">
  {% for project in projects %}
  <div class="col-lg-4 col-md-6">
    {% if project.url %}
    <a href="{{ project.url }}">
      <img
        src="{{ project.image.url }}"
        class="img-thumbnail"
        style="border-radius: 20px;"
      />
    </a>
    {% else %}
    <img
      src="{{ project.image.url }}"
      class="img-thumbnail"
      style="border-radius: 20px;"
    />
    {% endif %}
    <h3 style="color: white;">{{ project.title }}</h3>
    <p style="color: white;">{{ project.discription }}</p>
  </div>
  {% endfor %}
</div>
{% endblock %}
